<div class="memo-area">
    <div class="box25">
        <p>現在オリジナルを作成中．．．</p>
    </div>
</div>

<div class="form-space">
    <div class="form-input">
        <input class="form-memo" placeholder= "Type a memo">
    </div>
    <input class="form-submit" type="submit" value="SEND">
</div>