<div class="memo-content">
  <div class="memo-form">
    <%= render partial: 'form_memo', locals: { memo: @memo } %>
  </div>

  <div class="memo">
    <div id="memo">
      <%= render "memo", { memo: @memo } %>
    </div>  
  </div>
</div>
