<div class="calendar">
    <span class="material-icons">
        navigate_before
    </span>
    <span class="material-icons">
        navigate_next
    </span>
</div>

<div class="schedule">
    <span class="material-icons">
        add
    </span>
    <span class="material-icons">
        clear
    </span>
</div>